{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
	{% if user.is_authenticated %}
	<div class="row">
		<div class="col-lg-4">
			<h1>{{ deal.name }}
			<button class="pull-right btn btn-xs btn-primary" data-toggle="modal" data-target="#editdeal">
				Edit
			</button></h1>

			<p>
				{{ deal.description }}
			</p>
			<hr>
			<h3>Participants</h3>
			<h4>Buyers</h4>
			<ul>
				{% for buyer in buyers %}
				<li>
					{{ buyer.first_name }}
					{{ buyer.last_name }}
					({{ buyer.email }})
				</li>
				{% endfor %}
			</ul>
			<h4>Vendors</h4>
			<ul>
				{% for seller in sellers %}
				<li>
					{{ seller.first_name }}
					{{ seller.last_name }}
					({{ seller.email }})
				</li>
				{% endfor %}
			</ul>
			<hr>
			<h3>Invitations</h3>
			<div class="row">
				<div class="col-md-8">
					<p>
						Collaborate with your coworkers and counterparty to get this deal done quickly and hassle-free!
					</p>
				</div>
				<div class="col-md-4">
					<button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
						Invite
					</button>
				</div>
			</div>
			{% if pending_users %}
			<h4>Waiting on...</h4>
			<ul>
				{% for user in pending_users %}
				<li>
				{{ user.email }}
				</li>
				{% endfor %}
			</ul>
			{% endif %}
			<hr>
			<h3>Documents </h3>
			{% for at in attachments %}
			<a href="{{ at.download_link }}">{{ at.file_name }}</a>
			{% endfor %}
			<form  enctype="multipart/form-data" class="horizontal-form" action="{{ attachment_form_target }}" method="post">
				<div class="row">
					<div class="col-md-8">
						{% csrf_token %}
						{% if attachment_form.subject.errors %}
						<ol>
							{% for error in attachment_form.subject.errors %}
							<li>
								<strong>{{ error|escape }}</strong>
							</li>
							{% endfor %}
						</ol>
						{% endif %}
						{% for field in attachment_form %}
						{{ field.errors }}
						{{ field.label_tag }} {{ field }}
						{% endfor %}
					</div>
					<div class="col-md-4">
						<input class="btn btn-primary" name="submit" type="submit" value="Attach File">
					</div>
				</div>
			</form>
		</div>
		<div class="col-lg-6">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h2>Timeline</h2>
				</div>
				<form class="horizontal-form" action="{{ message_form_target }}" class="input-group" method="post">
					<div class="panel-body">
						<div class="row">
							<div class="col-md-8">
								{% include "form.html" with form=message_form %}
							</div>
							<div class="col-md-4">
								<input class="btn btn-primary inline" name="submit" type="submit" value="Post Message">
							</div>
						</div>
					</div>
				</form>
			</div>
			<hr>
			{% for msg in messages %}
			<div class="comment panel panel-{% cycle "success" "info" %}" style="margin-bottom:5px" id="comment">
				<div class="panel-heading" style="padding:2px"><strong> {% if msg.user.first_name or msg.user.last_name %}
				{{ msg.user.first_name }} {{ msg.user.last_name }}
				{% else %}
				{{ msg.user.email }}
				{% endif %} </strong><small>&nbsp;&nbsp;{{ msg.created_date|date:"j-M" }}</small></div>
				<div class="panel-body" style="padding:5px">
					{{msg.message}}
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	{% include "main/edit_deal_modal.html" %}
	{% include "main/add_user_modal.html" %}
	{% else %}
	Please Register
	{% endif %}
</div>
{% endblock %}