{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="container">
	{% if user.is_authenticated %}
	<h3>Your Deals <a href="/deal/new" class="btn btn-primary">Start A Deal</a></h3>
	<table class="table table-striped table-hover">
		<tbody>
			<tr>
				<th>Name</th>
				<th>Description</th>
				<th>Created</th>
				<th></th>
			</tr>
			{% for deal in deal_list %}
			<tr onclick="location.href='/deal/{{ deal.id }}'" style="cursor:pointer;">
				<td><a href="/deal/{{ deal.id }}">{{ deal.name }}</a></td>
				<td>{{ deal.description }}{{ deal.participants.users|length }}</td>
				<td>{{ deal.start_date|date:"j-M" }}</td>
				<!-- {% for _, field in deal %}
				<td>{{ field }}</td>
				{% endfor %} -->
				<td>
				<div class="btn-group btn-group-xs">
					<a href="/deal/{{ deal.id }}" class="btn btn-primary">Edit</a><a href="/deal/{{ deal.id }}/delete" class="btn btn-primary">Delete</a>
				</div></td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
	{% else %}
	Please Register
	{% endif %}
</div>
{% endblock %}