{% extends "base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<script>
	$(function() {
		$('#id_form-TOTAL_FORMS').val(String(0));
		// this is on click event just to demo.
		// You would probably run this at page load or quantity change.
		$("#generate_forms").click(function() {
			// update total form count
			var quantity = $('#id_form-TOTAL_FORMS').val();
			$("[name=form-TOTAL_FORMS]").val(quantity);
			// copy the template and replace prefixes with the correct index
			var q = parseInt(quantity);
			var html = $("#form_template").clone().html().replace(/__prefix__/g, q);
			q += 1;
			$("#forms").append(html);
			$('#id_form-TOTAL_FORMS').val(String(q));
		});
	}); 
</script>

<form class="form-horizontal" action="{{ form_target }}" method="post">
	{{ counterparty_form.management_form  }}
	{% crispy form %}

	<input type="submit" class="btn btn-primary" value="Submit" />
</form>
<div style="display:none;" id="form_template">
	<div class="item">
	{% crispy counterparty_form.empty_form %}
	</div>
</div>
{% endif %}
{% endblock %}
