{% load i18n %}
{% load url from future %}
{% load crispy_forms_tags %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

	<head>

		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="/static/style.css" />
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
		<title>{% block title %}User test{% endblock %}</title>
	</head>

	<body>

		<div id="header" class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">Roshee</a>
				</div>
				<div class="navbar-right">
					{% block header %}
					{% if user.is_authenticated %}
				 	<ul class="nav navbar-nav navbar-right">
					<li class="navbar-brand" >{{ user.username }}</li>
					<li><a class="btn" href="/">{% trans "Deals" %}</a>
					<li><a class="btn" href="{% url 'userena_profile_detail' user.username %}">{% trans "Profile" %}</a>
					</li><li><a class="btn" href="/accounts/{{ user.username }}/password/">{% trans "Change Password" %}</a>
					</li><li><a class="btn" href="/accounts/signout/">{% trans "Log out" %}</a></li>
								</ul>
					{% else %}
					<a href="/accounts/signin/">{% trans "Log in" %}</a>
					{% endif %}
					{% endblock %}
				</div>
			</div>
		</div>
		<div class="container">
			{% block content %}{% endblock %}
		</div>
		<div id="footer">
			{% block footer %}
			<hr />
			{% endblock %}
		</div>

	</body>

</html>
