{% extends 'userena/base_userena.html' %}
{% load i18n %}
{% load url from future %}
{% load crispy_forms_tags %}
{% block title %}{% trans "Login" %}{% endblock %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
	<fieldset>
		<div class="panel panel-default" style="width: 300px; margin-left: auto; margin-right: auto;">
			<div class="panel-heading">
				{% trans "Log in to your account" %}
			</div>
			<div class="panel-body">
				{{ form|as_crispy_errors }}
				{{ form.non_field_errors }}
				{% for field in form %}
				{{ field.errors }}
				{% comment %} Displaying checkboxes differently {% endcomment %}
				{% if field.name == 'remember_me' %}
				<p class="checkbox">
					<label for="id_{{ field.name }}">{{ field }} {{ field.label }}</label>
				</p>
				{% else %}
				<p>
					{{ field|as_crispy_field }}
				</p>
				{% endif %}
				{% endfor %}

				<input class="btn btn-primary" type="submit" value="{% trans "Login" %}" />
				<p class="forgot-password">
					<a href="{% url 'userena_password_reset' %}" title="{% trans 'Forgot your password?' %}">{% trans "Forgot your password?" %}</a>
				</p>
				{% if next %}
				<input type="hidden" name="next" value="{{ next }}" />
				{% endif %}
			</div>
		</div>
	</fieldset>
</form>
{% endblock %}
